.Login {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;

}

.banner_login {
  width: 50%;
}

.banner_login img {
  object-fit: contain;
  width: 80%;
  height: 120%;
}

.banner_form {
  text-align: center;
  padding-left: 60px;
  width: 40%;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */

}

.button_primary {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  width: 60%;
}

.car_Image {
  width: 100vw;
  height: 50vh;
  position: relative;
}

.car_Image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.car_caption {
  position: absolute;
  color: white;
  bottom: 0;
  padding: 20px;
  color: white;
  font: 20px Monaco, Mono-Space;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.152);
  width: 100%;
}

.RegForm .Reg_Img{

  width: 50%;

}
.Reg_Img>img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.RegForm {
  width: 55%;
  margin: 20px;
  padding: 50px 70px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  box-sizing: border-box;
}
.Reg_Img {
  width: 40%;
}

.form-container{
  width: 60%;
  margin-inline: auto;
  padding: 20px;
  border-radius: 5px ;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin-top: 10px;
}


/* ADD RIDE */

.rideForm{
  width: 100%;
}

.rideForms{

  margin: 20px 40px 20px 40px;
  padding: 30px;
  width: 50%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: rgb(130, 163, 234);
  /* background-color: #4e77ad; */

}

.payment{
  align-items: center;
  display: flex;
}
.co-passenger{
  width: 60%;
}
.pay{
  width: 40%;
}


.contact{
  margin: 20px;
  display: flex;
  align-items: center;
}

.info {
  width: 100%;
  margin: 20px;
  padding: 30px;
  background-color: antiquewhite;
}




