.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
} */

.Login h1 {
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}
.nav {
  background-color: #4682a9;
  color: #4682a9;
  height: 70px;
}

.RegUser {
  display: flex;

}

.navigation {
  background-color: #4682a9;
  color: #4682a9;
  height: 70px;
  display: flex;
  align-items: center;
}

.navigation .navigation_item > a {
  text-decoration: none;
  color: white;
  margin: 20px;
  font-size: medium;
  font-weight: 600;
  text-transform: uppercase;
}
